.blog-card {
  display: flex;
  flex-direction: column;
  height: 430px;
  width: 320px;
  min-height: 220px;
  margin-bottom: 30px;
  position: relative;
  cursor: pointer;
}
.blog-card .blog-card-img {
  width: 100%;
  height: 40%;
}
.blog-card .blog-card-img img {
  width: 100%;
  height: 100%;
}
.blog-card-details {
  display: flex;
  flex-direction: column;
}
.blog-card-details .tag-area-card {
  display: flex;
  flex-direction: row;
  margin: 10px 0 5px 0;
}
.blog-card-details .tag-area-card p {
  margin: 0;
  text-transform: uppercase;
  font-size: 0.8125rem;
  font-weight: 500;
  color: #3eb0ef;
  width: fit-content;
}
.blog-card-details .tag-area-card p:hover {
  text-decoration: underline;
}
.blog-card-details .tag-area-card p:first-child {
  padding-right: 10px;
}
.blog-card-details .blog-card-title {
  margin: 0;
  font-weight: 700;
  font-size: 1.3rem;
  color: #212121;
}
.blog-card-details .blog-card-description {
  margin: 10px 0 0 0;
  font-weight: 400;
  font-size: 1.089rem;
  color: #595959;
  letter-spacing: 0.0008rem;
}
.blog-card-details .blog-card-info {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 10px;
}
.blog-card-details .blog-card-info .info-name-time {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}
.blog-card-details .blog-card-info .info-name-time p:first-child {
  font-weight: 700;
  font-size: 0.8125rem;
  text-transform: uppercase;
  color: #212121;
  margin: 0;
  padding-bottom: 3px;
}
.blog-card-details .blog-card-info .info-name-time p:first-child:hover {
  text-decoration: underline;
}
.blog-card-details .blog-card-info .info-name-time p:last-child {
  font-size: 0.8125rem;
  text-transform: uppercase;
  color: #595959;
  margin: 0;
}

/* Horizontal mode */
.blog-card.horizontal {
  display: flex;
  flex-direction: row;
  height: 380px;
  width: 1040px;
  min-height: 280px;
  margin-bottom: 30px;
  position: relative;
  cursor: pointer;
}
.blog-card.horizontal .blog-card-img {
  width: 180%;
  height: 100%;
}
.horizontal .blog-card-details {
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.horizontal .blog-card-details .blog-card-title {
  font-size: 1.6rem;
}
.horizontal .blog-card-details .blog-card-description {
  font-size: 1.17rem;
  letter-spacing: 0.001rem;
}

@media only screen and (max-width: 768px) {
  .blog-card,
  .blog-card.horizontal {
    width: 280px;
    height: 400px;
    display: flex;
    flex-direction: column;
    min-height: 220px;
  }
  .blog-card-details .blog-card-title,
  .horizontal .blog-card-details .blog-card-title {
    font-size: 1.23rem;
  }
  .blog-card-details .blog-card-description,
  .horizontal .blog-card-details .blog-card-description {
    font-size: 1rem;
  }
  .blog-card.horizontal .blog-card-img {
    width: 100%;
    height: 40%;
  }
  .horizontal .blog-card-details {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
}
