.blog-header {
  margin: 0 25%;
  display: flex;
  flex-direction: column;
  position: relative;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 20px;
  padding-top: 50px;
}
/* .blog-header.dark {
  border-bottom-color: #333333;
} */
.blog-header .blog-header-title {
  margin: 0;
  font-weight: 600;
  line-height: 3.5rem;
  /* font-weight: 500; */
  font-size: 3rem;
  color: #0f0e0e;
}
/* .blog-header.dark .blog-header-title {
  color: #f1f1f1;
} */
.blog-header .blog-header-description {
  margin: 15px 0 0 0;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #595959;
  font-weight: 400;
  letter-spacing: 0.0008rem;
}
/* .blog-header.dark .blog-header-description {
  color: #dcdcdc;
} */
.blog-header .blog-header-info {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}
.blog-header .blog-header-info .info-name-time {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}
.blog-header .blog-header-info .info-name-time p:first-child {
  font-weight: 700;
  font-size: 0.8125rem;
  text-transform: uppercase;
  color: #202122;
  margin: 0;
  padding-bottom: 3px;
}
/* .blog-header.dark .blog-header-info .info-name-time p:first-child {
  color: #f1f1f1;
} */
.blog-header .blog-header-info .info-name-time p:first-child:hover {
  text-decoration: underline;
}
.blog-header .blog-header-info .info-name-time p:last-child {
  font-size: 0.8125rem;
  text-transform: uppercase;
  color: #595959;
  margin: 0;
}
/* .blog-header.dark .blog-header-info .info-name-time p:last-child {
  color: #dcdcdc;
} */
@media only screen and (max-width: 768px) {
  .blog-header {
    margin: 25px 5% 30px 5%;
  }
  .blog-header .blog-header-title {
    line-height: 2rem;
    font-size: 2rem;
  }
  .blog-header .blog-header-description {
    font-size: 1.17rem;
    line-height: 1.2rem;
  }
}
