.read-blog .start-img {
  text-align: center;
  height: 85vh;
}
.read-blog-area {
  margin: 30px 20%;
}

.read-blog .read-blog-content {
  font-size: 1.087rem;
}

.read-blog table {
  margin: 25px auto;
  border-collapse: collapse;
  border: 1px solid #eee;
  border-bottom: 2px solid #00cccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1), 0px 5px 10px rgba(0, 0, 0, 0.05),
    0px 10px 10px rgba(0, 0, 0, 0.05), 0px 15px 10px rgba(0, 0, 0, 0.05);
}
.read-blog table tr:hover {
  background: #f4f4f4;
}
.read-blog table tr:hover td {
  color: #333333;
}
.read-blog table th,
table td {
  color: #777777;
  border: 1px solid #eee;
  padding: 12px 35px;
  border-collapse: collapse;
}
.read-blog table th {
  background: #00cccc;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
}

@media only screen and (max-width: 768px) {
  .read-blog .start-img {
    height: 50vh;
  }
  .read-blog .start-img img {
    width: 100%;
  }
  .read-blog-area {
    margin: 30px 5% 0 5%;
  }
  .read-blog .read-blog-content {
    font-size: 1rem;
  }
  .read-blog table {
    display: block;
    overflow: auto;
  }
}
