.home-layout {
  margin-top: 40px;
}
.toolbar {
  display: none;
}
.filter-modal {
  display: flex;
  justify-content: flex-end;
}
.filter-modal-button {
  margin-right: 20px;
  font-size: 20px;
  border: 2px solid #cccccc;
  border-radius: 5px;
  padding: 5px;
}
@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
  .home-layout {
    display: grid;
    grid-template-columns: 70% 30%;
  }
  .layout-container {
    margin: 5px 5px 5px 5px;
    padding: 5px;
  }
  .toolbar {
    display: flex;
    flex-direction: column;
  }
  .filter-modal {
    display: none;
  }
}
