.home-layout {
  margin-top: 40px;
}
.m-modal-hide {
  display: none;
}
.m-modal-show {
  display: visible;
}
.filter-modal,
.m-modal-toggle {
  display: flex;
  justify-content: flex-end;
}
.filter-modal-button {
  margin-right: 20px;
  font-size: 20px;
  border: 2px solid #cccccc;
  border-radius: 5px;
  padding: 5px;
}
.m-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 1);
  z-index: 1000;
}
.m-modal-container {
  margin: 10px 0;
  width: 100%;
}
@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
  .home-layout {
    display: grid;
    grid-template-columns: 70% 30%;
  }
  .layout-container {
    margin: 5px 5px 5px 5px;
    padding: 5px;
  }
  .m-modal-show,
  .m-modal-hide {
    display: visible;
  }
  .toolbar {
    display: flex;
    flex-direction: column;
  }
  .filter-modal {
    display: none;
  }
  .m-modal-toggle {
    display: none;
  }
  .m-modal {
    position: initial;
    top: initial;
    left: initial;
    width: initial;
    height: initial;
    background: initial;
    z-index: initial;
  }
  .m-modal-container {
    margin: initial;
  }
}
