.toolbar {
  display: none;
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
  .home-layout {
    display: grid;
    grid-template-columns: 70% 30%;
  }
  .layout-container {
    margin: 5px 5px 5px 5px;
    padding: 5px;
  }
  .toolbar {
    display: initial;
  }
}
