.next-page-button {
  text-align: end;
  margin: 15px 0;
}
.text-button {
  background-color: transparent;
  outline: none;
  border: 0;
  color: #19a1fc;
  font-size: 1.2rem;
  cursor: pointer;
}
.text-button-icon {
  margin-left: 5px;
}
.text-button::-moz-focus-inner {
  border: 0;
}
