.top-menu {
  background-color: #fff;
  padding: 0px 10px 0px 10px;
  user-select: none;
}

.top-menu > .right {
  float: right;
}

.top-menu > .right > * {
  margin-left: 5px;
}

.top-menu > .right > * {
  padding-top: 22px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
  display: inline-block;
  text-align: center;
  min-width: 50px;
}

.top-menu *:hover {
  cursor: pointer;
}

.clear-fix {
  clear: both;
}

.top-menu .top-menu-icon {
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

.top-menu-item:hover {
  background-color: #fff;
}

.top-menu-lead {
  display: flex;
  float: left;
  align-items: center;
}

.top-menu-lead h3 {
  text-transform: uppercase;
  padding-left: 5px;
  font-weight: bold;
  font-size: 20px;
  background: linear-gradient(
    to right top,
    #25698d,
    #287094,
    #2b779c,
    #2f7ea3,
    #3285aa,
    #358ab0,
    #3990b5,
    #3c95bb,
    #409ac0,
    #449fc5,
    #47a4cb,
    #4ba9d0
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 600px) {
  .top-menu-lead {
    position: absolute;
    top: 0px;
    left: 10px;
    float: none;
  }
}

@media screen and (max-width: 600px) {
  .top-menu {
    padding: 40px 20px 20px 20px;
    max-height: 0;
    overflow: hidden;
  }

  .top-menu > .right {
    display: none;
  }

  .top-menu-icon {
    display: block !important;
    padding-top: 25px !important;
  }
}

@media screen and (max-width: 600px) {
  .top-menu.toggled {
    padding: 60px 0 0 0;
    max-height: 1500px;
    transition: max-height 1s;
  }

  .top-menu.toggled *:not(.top-menu-lead):not(.top-menu-icon) {
    float: none;
    display: block !important;
    text-align: left;
    margin: 0;
  }
}
