nav {
  background-color: #090a0b;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

nav .nav-inner {
  margin: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
nav .nav-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav .nav-left img {
  width: 150px;
  height: 70px;
}
.nav-left p {
  text-transform: uppercase;
  color: #fffffff5;
  font-weight: 600;
  font-size: 1rem;
  margin-right: 20px;
}
.nav-left ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.nav-left ul li {
  float: left;
}
.nav-left ul li .nav-link {
  color: #ffffffc7;
  padding: 16px;
  font-size: 0.8125rem;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  border: none;
  outline: none;
  text-transform: uppercase;
}

.nav-right .search-input {
  outline: none;
  border-radius: 30px;
  border-color: #ffffff9a;
  background-color: transparent;
  color: #ffffffc7;
}

/* Right */

.nav-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav-right .search-input {
  width: 12vw;
  padding: 10px 15px;
  background-color: transparent;
  transition: transform 250ms ease-in-out;
  font-size: 0.9rem;
  color: #c0c0c0;
  border-radius: 50px;
  border: 1px solid #575756;
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.nav-right .search-input::placeholder {
  color: rgba(87, 87, 86, 0.8);
  text-transform: uppercase;
  letter-spacing: 1.1px;
}

.nav-right .search-input:hover,
.search-input:focus {
  padding: 10px 15px;
  width: 12vw;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid #575756;
  border-radius: 0;
}
.nav-right .nav-theme-toggle {
  color: #ffffffc7;
  margin-left: 10px;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
}
.nav-right .nav-theme-toggle:hover {
  background-color: #0e1011;
}
.nav-right .nav-theme-toggle:active {
  background-color: #1c1e20;
}
