.max-img-card {
  height: 350px;
  width: 300px;
  border-radius: 10px;
  position: relative;
  flex-shrink: 0;
  margin: 0px 20px;
}
.max-img-card:hover {
  box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.max-img-card img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.full-overlay {
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
}
.full-overlay:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.card-in-title {
  position: absolute;
  bottom: 0;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.02)
  );
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.card-in-title p {
  color: #ffffff;
  font-weight: 600;
  padding-left: 10px;
}

.card-tag-area {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: row;
  margin: 10px 5px;
}
.card-tag {
  width: fit-content;
  padding: 3px 15px;
  color: #ffffff;
  margin: 0 3px;
  font-size: 16px;
  border-radius: 20px;
  background-image: linear-gradient(to right top, #47a4cb, #74bfe2, #aed4e6);
}
