.parallax {
  height: 70vh;
  background-image: url('../../../assets/images/img-1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;
}

.blur {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  height: 70vh;
  width: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.center h2 {
  margin: 0;
  font-size: 30px;
  color: #ffffff;
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
}

.center p {
  font-size: 20px;
  color: #ffffff;
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
}

@media only screen and (min-width: 600px) {
  .parallax,
  .blur {
    height: 60vh;
  }
  .center h2 {
    font-size: 40px;
  }
  .center p {
    font-size: 30px;
  }
}

@media only screen and (min-width: 768px) {
  .parallax,
  .blur {
    height: 60vh;
  }
  .center h2 {
    font-size: 50px;
  }
  .center p {
    font-size: 35px;
  }
}
