footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #090a0b;
  color: #ffffffd7;
  padding: 25px 70px;
  align-items: flex-start;
}

footer p {
  text-transform: capitalize;
  font-size: 1.3rem;
}
.footer-right-col {
  display: flex;
  flex-direction: column;
}
.footer-right-icons,
.footer-right-links {
  display: flex;
  flex-direction: row;
  margin: 7px 0;
  justify-content: center;
}
.footer-right-icons .footer-icon {
  font-size: 20px;
}
.footer-right-icons .footer-icon:first-child {
  margin-right: 20px;
}
.footer-right-links span {
  margin: 0 5px;
  font-size: 1rem;
}
.footer-link {
  color: #ffffffd7;
  text-decoration: none;
  border: none;
  outline: none;
}
@media only screen and (max-width: 768px) {
  footer {
    padding: 25px 30px;
  }
}
@media only screen and (max-width: 600px) {
  footer {
    padding: 25px 10px;
  }
  footer p {
    font-size: 1.1rem;
  }
  .footer-right-links span {
    font-size: 0.9rem;
  }
}
