footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #090a0b;
  color: #ffffffd7;
  padding: 20px 70px;
}

footer p {
  text-transform: capitalize;
  font-size: clamp(1.1rem, 1.3vw, 1.4rem);
}
.footer-right-col {
  display: flex;
  flex-direction: column;
}
.footer-right-icons,
.footer-right-links {
  display: flex;
  flex-direction: row;
  margin: 5px 0;
  justify-content: center;
}
.footer-right-icons .footer-icon {
  font-size: 20px;
}
.footer-right-icons .footer-icon:first-child {
  margin-right: 20px;
}
.footer-right-links span {
  margin: 0 5px;
  font-size: clamp(15px, 2vw, 16px);
}
